body {
    background-color: #fffbf1;
    margin:auto;
}
.profilePicture {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 3px solid red;
}
.smallerProfilePicture {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 3px solid red;
    margin-bottom:15px;
}
.smallProfilePicture {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 3px solid red;
    margin-top: 5px;
    margin-bottom: 5px;
}
.normalImages{
    max-width:500px;
}
.otherImagesWithRatio {
    height:80px;
}
.circle {
    position: absolute;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.wrapper > .circle {
    position: absolute;
    border: 3px solid red;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.roundedCorners {
    border-radius: 15px;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.profileInfoContainter {
    height:100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-size {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
th{
    font-size:16px;
}
.marginTop{
    margin-top:15px;
}
.whiteBg{
    background-color:white !important;
}

.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Browse';
    color:black;
    display: inline-block;
    background: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}
.mainImages{
    width:100%;
}
.otherImages{
    width:100px;
}
.leftColumn {
    float: left;
}
.tabela tr {
    border-bottom: 1px solid #d3d3d3;
}


