@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="marginTop" style="width:100%;">
    <div class="profileInfoContainter roundedCorners whiteBg text-center" style="width:70%; margin:0 auto;">
        <h1 class="text-danger">Error</h1>
        <hr/>
        <h2 class="text-danger">An error occurred while processing your request. :(</h2>
        <h2 class="text-danger">We are sorry for the inconvenience. Please try again later.</h2>
    </div>
</div>

