@model _3D_Art_Portfolio.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="marginTop" style="width:100%;">
    <div class="profileInfoContainter roundedCorners whiteBg text-center" style="width:70%; margin:auto;">
        <h2>@ViewBag.Title</h2>

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Change your account settings</h4>
            <hr />
            @if (Model.HasPassword)
            {
                <a href="/Manage/ChangePassword" class="btn btn-lg btn-primary" style="width:250px; margin-bottom:10px;">Change your password</a>
            }
            else
            {
                <a href="/Manage/SetPassword" class="btn btn-lg btn-primary" style="width:250px;">Create password</a>
            }
            <br/>
            <a href="/Profile/Index" style="width:250px; margin-bottom:10px;" class="btn btn-primary btn-lg">Back to Profile</a>
        </div>
    </div>
</div>
