
@{
    ViewBag.Title = "Administrator Panel";
}
<div style="width:100%;" class="marginTop">
    <div class="profileInfoContainter roundedCorners whiteBg text-center" style="width:50%; margin:170px auto 0 auto;">
        <h1 style="margin-top:0">Administrator Panel</h1>
        <hr/>
        <a style="width:250px;margin-bottom:10px" class="btn btn-primary btn-lg" href="/Administrator/ManageUsers">Manage Users</a><br />
        <a style="width:250px;margin-bottom:10px"class="btn btn-primary btn-lg" href="/Administrator/CleanTemp">Clean Temp Folder</a><br />
        <a style="width:250px;margin-bottom:10px"class="btn btn-primary btn-lg" href="/Administrator/ShowAllSoftware">Manage Software</a><br />
    </div>
</div>
