
@{
    ViewBag.Title = "AdministratorPanel";
}

<h2>AdministratorPanel</h2>
<a class="btn btn-primary" href="/Administrator/ManageUsers">Manage Users</a>
<a class="btn btn-primary" href="/Administrator/CleanTemp">Clean Temp Folder</a>
<a class="btn btn-primary" href="/Administrator/ShowAllSoftware">Manage Software</a>