<div class="marginTop" style="width:100%;">
    <div class="profileInfoContainter roundedCorners whiteBg text-center" style="width:70%; margin:auto;">
        <h1 class="text-danger">You have no permissions to take this action!</h1>
        <hr />
        <h4>You cannot view/like/add/edit/delete projects and profiles while in Administrator mode.</h4>
    </div>
</div>

