@model _3D_Art_Portfolio.ViewModels.ProfileViewModel
@using _3D_Art_Portfolio.Models;
@{
    ViewBag.Title = "My Profile";
}
<div style="background:blue" class="pull-left">
    <h2>@Model.applicationUser.Name @Model.applicationUser.Surname</h2>
    <img class="profilePicture" alt="Profile Picture" src=@Url.Content(Model.applicationUser.ProfilePicture) />
    <h2>@@@Model.applicationUser.UserName</h2>
    <a href="/Profile/EditProfile" class="btn btn-primary">Edit Profile</a>
</div>
<div style="background:red">
    <h2>My Art Projects</h2>
    @if (Model.projectEntries.Count == 0)
    {
        <h2>No projects available</h2>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Preview</th>
                    <th>View Details</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProjectEntry pe in @Model.projectEntries)
                {
                    <tr>
                        <th>@pe.Name</th>
                        <th><img class="profilePicture" alt=@pe.Name src=@Url.Content(pe.MainImage) /></th>
                        <th><a href="/Project/ViewProject/@pe.ProjectId">View details</a></th>
                        <th><a href="/Project/EditProject/@pe.ProjectId" class="btn btn-primary">EDIT</a> <a href="/Project/DeleteProject/@pe.ProjectId" class="btn btn-primary"> DELETE</a></th>
                    </tr>
                }
            </tbody>
        </table>
    }

    <a href="/Project/AddNewProject" class="btn btn-primary">Add new Project</a>
</div>

<button type="button" id="search" class="btn btn-primary">Search</button>
<div id="searchForm" style="display:none">
    <input type="text" placeholder="Search" class="searchText" />
    <table id="table">
        <thead>
            <tr>
                <td></td>
                <td>User Name</td>
            </tr>
        </thead>
        <tbody class="tableBody">
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#search").on("click", function (event) {
                var modal = bootbox.dialog({
                    message: $("#searchForm").html(),
                    title: "Search",
                    buttons: [
                        {
                            label: "Close",
                            className: "btn btn-default pull-left",
                            callback: function () {
                                console.log("just do something on close");
                            }
                        }
                    ],
                    show: false,
                    onEscape: function () {
                        modal.modal("hide");
                    }
                });
                modal.modal("show");
                $(".modal .searchText").keyup(function () {
                    var textToPass = $(".modal .searchText").val();
                    console.log("tuka")
                    console.log(textToPass);
                    $.ajax({
                        type: "GET",
                        url: '/Profile/Search',
                        data: jQuery.param({ text: textToPass }),
                        contentType: false,
                        processData: false,
                        success: function (results) {
                            console.log(results);
                            $(".modal .tableBody").html(results);
                        },
                        error: function (results) {
                            console.log("error");
                        }
                    }).done(function () {
                    }).fail(function (xhr, status, errorThrown) {
                    });
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
           
        })
    </script>

}



