@model _3D_Art_Portfolio.ViewModels.ProfileViewModel
@using _3D_Art_Portfolio.Models;
@{
    ViewBag.Title = "My Profile";
}
<div style="background:blue" class="pull-left">
    <h2>@Model.applicationUser.Name @Model.applicationUser.Surname</h2>
    <img class="profilePicture" alt="Profile Picture" src=@Url.Content(Model.applicationUser.ProfilePicture) />
    <h2>@@@Model.applicationUser.UserName</h2>
    <a href="/Profile/EditProfile" class="btn btn-primary">Edit Profile</a>
</div>
<div style="background:red">
    <h2>My Art Projects</h2>
    @if (Model.projectEntries.Count == 0)
    {
        <h2>No projects available</h2>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Preview</th>
                    <th>View Details</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProjectEntry pe in @Model.projectEntries)
                {
                    <tr>
                        <th>@pe.Name</th>
                        <th><img class="profilePicture" alt=@pe.Name src=@Url.Content(pe.MainImage) /></th>
                        <th><a href="/Project/ViewProject/@pe.ProjectId">View details</a></th>
                        <th><a href="/Project/Edit/@pe.ProjectId" class="btn btn-primary">EDIT</a> <a href="/Project/Delete/@pe.ProjectId" class="btn btn-primary"> DELETE</a></th>
                    </tr>
                }
            </tbody>
        </table>
    }

    <a href="/Project/AddNewProject" class="btn btn-primary">Add new Project</a>
</div>



