@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @:<ul class="nav navbar-nav navbar-right">
            @:<li style="color:#d3d3d3;padding-top:15px; margin-right:10px;">Hello @@@User.Identity.GetUserName()</li>
            @:<li>
                @:<a href="/Manage/Index" style="padding:15px" id="manage" class="btn btn-link"><i class="fas fa-lg fa-cogs"></i></a>
            @:</li>
            @:<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        @:</ul>
    }
}
else
{
    @:<ul class="nav navbar-nav navbar-right">
        @:<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        @:<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    @:</ul>
}
