<div class="marginTop" style="width:100%;">
    <div class="profileInfoContainter roundedCorners whiteBg text-center" style="width:70%; margin:auto;">
        <h1 class="text-danger">You have no permissions to take this action!</h1>
        <hr/>
        <h4>You get this page as a response when you try to edit/delete a project that is not your own, as well as if you try to access the administrator panel.</h4>
    </div>
</div>
